@model Tuple<DAL.ViewModels.ClassViewModel, List<DAL.ViewModels.StudentViewModel>>

@{
    ViewData["Title"] = "Material List";
}

<h4>List</h4>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.Name)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Item1.Name)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.MaxStudent)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Item1.MaxStudent)
        </dt>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item2.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2.FirstOrDefault().NID)
            </th>
            <th>
                Current Class
            </th>
            <th></th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item2.ToList())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassDataModel.Name)
                </td>
                <td>
                    @*<a asp-action="" onclick="tryAssign('@item.Id')" asp-route-id="@item.Id">Edit</a>*@
                    <input type="button" onclick="tryAssign('@item.Id')" value="Assign">
                </td>
                <td id="td_@item.Id">
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function tryAssign(studentId) {

        alert(@Model.Item1.Id);
        alert(studentId);
        $.ajax({
            traditional: true,
            type: "post",
            dataType: "json",
            contentType: "application/json",
            url: "/ClassDataModel/TryAssign?ClassId=" + @Model.Item1.Id+"&StudentId=" + studentId,
            //data: JSON.stringify({ ClassId: @Model.Item1.Id, StudentId: studentId }),
            success: function (data) {
                //$('select[name=FK_VehicleModel]').html("");
                //var result = "";
                //for (var i = 0; i < data.length; i++) {
                //    result = result + "<option value='" + data[i].PK_VehicleModel + "'>" + data[i].Title + "</option>";
                //}
                //$('select[name=FK_VehicleModel]').html(result);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log("Err on call: relodeFK_VehicleBrandModel()");
            }
        });
    }
</script>
