@model IEnumerable<DAL.ViewModels.TeacherViewModel>

@{
    ViewData["Title"] = "Material List";
}

<h4>List</h4>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NID)
            </th>
            <th>
                Current Class
            </th>
            <th></th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="UnsetClass" asp-route-id="@item.Id">UnsetClass</a> |
                </td>
                <td id="td_@item.Id"></td>
            </tr>
        }
    </tbody>
</table>
